.form-control{
    height: 50px !important;
    background-color: #f2f2f2 !important;
}
.form-control:focus{
    background-color: white  !important  ;
}
.text{
    color: red !important;
}
.heading-register{
    font-size: 54px;
    font-weight: 700;
    text-decoration: underline;
    line-height: initial;
    position: absolute;
    left: 25%;
    top:25%;
}  
